<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Admin Profile</title>
</head>
<body>

			<section class="text-center"> 
		<h2>Admin Profile Page</h2>
		
		<h3>Name: [[${user.name}]]</h3>
		<h3>Email: [[${user.email}]]</h3>
		<h3>Mobile_No: [[${user.mobileNo}]]</h3>
		<h3>Role: [[${user.role}]]</h3>
	
		<a href="/logout">Logout</a>
		
		<button>
			<a href="User-Details">UserDetails</a>
		</button>
		
		</section>
		
		
		

</body>
</html>